body {
  display: grid;
  grid-template-rows: 50px 130px 1fr auto;
  grid-template-columns: repeat(5, 1fr);
  background: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
  gap: 10px;
  margin: 0px 10px;
}

@font-face {
    font-family: 'clockFont';
    src: url('/file/font/Technology-Bold.ttf') format('truetype');
  }

ul {
  list-style-type: none;
  text-align: justify;
}

/* Navbar*/
.navbarContainer {
  background-color: rgb(208, 239, 116);
  font-weight: bold;
  display: flex;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}

.nav-right {
  display: flex;
  gap: 1em;
}

.nav-list {
  display: flex;
  gap: 1em;
}

/* Main Content*/
.contentContainer {
  outline: 2px solid black;
  grid-area: 2 / 1 / 4 / 5;
}

/* Dates & Time*/
.calendar {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  }

  #date {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #time {
    font-size: 48px;
    font-weight: bold;
    font-family: 'clockFont', sans-serif;
  }

/* Praying Time*/
.prayContainer{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.pray-text{
  font-size: 25px;
  font-weight: bold;
}

.prayTime {
  display: flex;
}